#add-user-button {
    position: absolute;
    top:0;
    right:0;
    margin-top: 1em;
    margin-right: 1em;
}

.header-text {
  text-align:center;
}

#subheader {
  color: white;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 15em;
  overflow: hidden;
}

.wrap {
    background-color: #3F51B5	;
}

html {
  background-color: rgb(63,	81,	181)	;
}

li {
  list-style-type: none;
}

#header {
  padding-top: 1em;
  font-size: 5em;
  color: white;
}

label {
  color: black;
}

#dropzone {
  border: dashed 100px red;
  width: 500px;
}

/*.mdl-card-wide mdl-shadow--6dp {
  width: 20em;
}*/
.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 2em;
	flex: none;
}

.mdl-card__supporting-text {
  margin: 0 auto;
}
